* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
  text-align: center;
}

.container {
  margin: auto;
  margin-top: 10px;
  width: 800px;
  height: 800px;
  display: grid;
}

.square {
  border: 1px solid #d3d3d3;
}
